@import "../../responsive.scss";

.listPage {
  min-height: calc(100vh - 160px);
  display: flex;
  gap: 20px;

  @include md {
    flex-direction: column;
  }

  .listContainer {
    flex: 3;
    
    .wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  .mapContainer {
    flex: 2;
    position: sticky;
    top: 100px;
    height: calc(100vh - 160px);
    
    @include md {
      height: 400px;
      position: relative;
      top: 0;
    }
  }
}
